# Dependencies
node_modules/
.venv/
venv/
env/

# Environment variables
.env
*.env.local

# Database & Storage
*.sqlite
*.sqlite3
backend/uploads/*
!backend/uploads/.gitkeep

# Build & Cache
dist/
build/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.DS_Store
